body {
  overflow-x: hidden;
}
.hero {
  padding: 140px 0;
  background: cyan;
}

.grid-card-layout {  
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-rows: auto; 
  gap: 32px 24px;
  padding: 24px 0;

  @media screen and (min-width: 900px) {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    gap: 32px 24px;
    padding: 60px 0;
  }  
}

.card {
  .card-image {
    margin-bottom: 16px;
  }

  .card-content {
    p {
      margin-bottom: 8px;
    }
  }
}
.sectionAboutMe {
  padding: 24px 0;
  @media screen and (min-width: 900px) {
    padding: 80px;
  }
  
}
.grid-about-layout {  
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 80px;
  @media screen and (min-width: 900px) {
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
  }
}

.experience {
  position: relative;
  top: 50%;
}

.experience-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 16px 0;
    border-bottom: 1px solid black;
  }

  .experience-content {
    flex: 1 0 auto;
    h4 {
      margin-bottom: 8px;
    }
    p {
      margin: 0;
    }
  }
  .experience-year {
    flex: 0 0 auto;
  }
}